<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">FROM ANISHA'S HEART</a></h1>
        </header>

        <article>
            <h2><a href=""><em>I LOVE YOU MUMMY</em></a></h2>
            <p><strong>YOU ARE PURE LOVE MUMMY</strong></p>
        </article>

        <article>
            <h2><a href="">SORRY MOMMY</a></h2>
            <p>
            <strong><em>SORRY MAI THODA CHIDH JATI HU NA BOLTI RHTI HU BINA KUCH DEKHE</em></strong></p>
        </article>
    </body>
</html>